{% extends "layout.html.twig" %}
{% block title %}
    Добавление нового оборудования
{% endblock %}
{% set usersGroup = [{id: '8', name: 'Пользователи'}] %}

{% block content %}
    <div class="container">
        <form action="/hardware/save" method="post">
            {% include '/hardware/change.html.twig' with usersGroup %}
        </form>
    </div>
    {% if errors %}
        <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
                <li>{{ error.propertypath }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
