{% extends "layout.html.twig" %}

{% block title %} Новый пользователь {% endblock %}
{% block css %}
    <link rel="stylesheet" href="/css/select2.min.css">
    <link rel="stylesheet" href="/css/select2-bootstrap.min.css">
{% endblock %}

{% block content %}
    <div class="container">
        <form action="/user/save" method="post">
            <div class="row">
                <div class="col-md-2">
                    <strong>Имя пользователя</strong>
                </div>
                <div class="col-md-4 form-group">
                    <input type="text" name="user-name">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <strong>Пароль</strong>
                </div>
                <div class="col-md-4 form-group">
                    <input type="password" name="raw-password">
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <strong>Роли</strong>
                </div>
                <div class="col-md-4">
                    <select class="form-control js-user-roles" multiple="multiple" name="user-roles[]">
                        {% for group in usersGroup %}
                            <option
                                {% if group.name in user.roles %} selected="selected" {% endif %}
                                value="{{ group.name }}">{{ group.title }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <button class="btn btn-success">
                        <span class="glyphicon glyphicon-ok-circle"></span>
                        Сохранить
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block js %}
    <script src="/js/select2.min.js"></script>
    <script src="/js/user-edit.js"></script>
{% endblock %}