{% extends "layout.html.twig" %}

{% if user is not defined %}
    {% set user = {userName: '', roles: []} %}
{% endif %}

{% block title %} {{user.userName}} {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <button class="btn btn-warning">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                    Заблокировать
                </button>
            </div>
            <div class="col-md-3">
                <button class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>
                    Удалить
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">{{ user.userName }}</div>
            <div class="col-md-4">{{ user.roles|join(', ') }} </div>
        </div>
    </div>
{% endblock %}

