{% extends "layout.html.twig" %}
{% block title %}
    Редактирование оборудования {{hardware.name}}
{% endblock %}

{% if errors is not defined %}
    {% set errors = [] %}
{% endif %}
{% block content %}
    <div class="container">
        <form method="post" action="/hardware/save">
            {% include '@hardware/change.html.twig' with {hardware: hardware, usersGroup: usersGroup, errors: errors} %}
            <input type="hidden" name="action" value="edit">
        </form>
    </div>
{% endblock %}


